asgiref==3.5.2
Django==4.1
django-sugar @ git+https://github.com/yingzhuo/django-sugar.git@63940d5f77826e7b3f899eb05ee570e8dcd6a95b
djangorestframework==3.13.1
mysqlclient==2.1.1
pytz==2022.2.1
sqlparse==0.4.2
